*{
    margin: 0;
    padding: 0;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #282c3f;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #b6b1b1;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.myntra_home{
    height: 45px;
}
.logo_container{
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a:hover{
    border-bottom: 4px solid #f54e77;
}
.nav_bar a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}
nav a sup{
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input{
    background-color: #f5f5f6;
    color: #696e79;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar{
    display: flex;
    justify-content: space-evenly;
    min-width: 200px;
}

.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_container{
    margin: 40px 0px;
}

.banner_image{
    width: 100%;
}

.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item{
    width: 250px;
}
footer{
    background:#fafbfc;
}
.footer_inner{
    max-width: 1100px;
    margin: auto;
}
.footer_container{
    padding:30px 0px 40px 0px; 
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.footer_column{
    display: flex;
    flex-direction: column;
}

.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 13px;
}

.footer_column a:hover{
    color: #282c3f;
}

.footer_column h3{
    text-decoration: none;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 15px;
}

.app_version_icon{
    height: 40px;
    margin-right: 10px;
}

.store_icons
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.social_media_icon_container{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
}

.social_media_icon_container img{
    height: 22px;
}
.guarantee_icon{
         display: flex;
         align-items: center;
         color: #696b79;
         margin-top: 30px;
}
.guarantee_icon img{
    width: 48px;
    height: 40px;
}

.guarantee_icon p{
    margin-left: 10px;
}

.useful_heading{
    margin-top: 25px;
}

.popular_search{
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
}
.popular_search h3{
    font-size: 12px;
    color: #282c3f;
    margin-right: 15px;
    letter-spacing: .5px;
}

.popular_search .line{
    flex: 1;
    height: 1px;
    background-color: #d4d5d9;
}

.popular_search_items{
    padding: 10px 0 20px 0;
    color: #696b79;
    font-size: 14px;
    line-height: 28px;
}

.popular_search_items a{
    color: #696b79;
    text-decoration: none;
}

.popular_search_items a:hover{
    text-decoration: underline;
}

.popular_search_items a::after{
    content: " | ";
}

.popular_search_items a:last-child::after{
    content: "";
}

.footer_bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    font-size: 14px;
    color: #94969f;
}
.footer_left{
    flex: 1;
}

.footer_left a{
    color: #526cd0;
    text-decoration: none;
    font-weight: 700;
}

.footer_center{
    text-align: center;
    flex: 1;
}

.footer_right{
    text-align: right;
    flex: 1;
}


@media (max-width:900px){
    .nav_bar{
        display: none;
    }
    .footer_container{
        flex-wrap: wrap;
    }
    .category_items{
        justify-content: center;
    }
    
}